main {
  padding: 20px;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #f9f9f9; /* Fondo claro para contraste */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 160px); /* Altura mínima para ocupar el espacio entre header y footer */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea los elementos al inicio */
  align-items: center;
}

.nav-modificar-datos {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.modificar-datos-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modificar-datos-button:hover {
  background-color: #0056b3;
}

.habitacion-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 400px;
}

.habitacion-header h4, .habitacion-header h5 {
  margin: 0;
}

.habitacion-actions {
  display: flex;
  justify-content: flex-end;
}