.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #7e4821a9; /* Marrón */
  color: white;
}

.welcome-text {
  font-size: 24px;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.btn {
  background-color: #5D4037; /* Marrón oscuro */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 8px; /* Borde redondeado */
}

.btn:hover {
  background-color: #8D6E63; /* Marrón claro */
}