<footer>
  <div class="footer-content">
    <p>Dirección: Mitre 1150</p>
    <p>Teléfono: 3424090183</p>
    <p>Email: hotelvirtual&commat;gmail.com</p>
    <div class="social-icons">
      <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr#"><img src="assets/facebook.png" alt="Facebook"></a>
      <a href="https://x.com/?lang=es&mx=2"><img src="assets/gorjeo.png" alt="X"></a>
      <a href="https://www.instagram.com/"><img src="assets/instagram.png" alt="Instagram"></a>
    </div>
  </div>
</footer>