<h2>Registrarse</h2>
<form [formGroup]="registroForm" (ngSubmit)="registrarUsuario()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required>
    <mat-error *ngIf="registroForm.get('nombre')?.hasError('required')">El nombre es requerido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="apellido" required>
    <mat-error *ngIf="registroForm.get('apellido')?.hasError('required')">El apellido es requerido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required>
    <mat-error *ngIf="registroForm.get('email')?.hasError('required')">El email es requerido</mat-error>
    <mat-error *ngIf="registroForm.get('email')?.hasError('email')">El email no es válido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput formControlName="password" type="password" required>
    <mat-error *ngIf="registroForm.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
    <mat-error *ngIf="registroForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirmar Contraseña</mat-label>
    <input matInput formControlName="confirmPassword" type="password" required>
    <mat-error *ngIf="registroForm.get('confirmPassword')?.hasError('required')">Confirmar contraseña es requerido</mat-error>
    <mat-error *ngIf="registroForm.get('confirmPassword')?.hasError('mismatch')">Las contraseñas no coinciden</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>DNI</mat-label>
    <input matInput formControlName="dni" required>
    <mat-error *ngIf="registroForm.get('dni')?.hasError('required')">El DNI es requerido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Nacimiento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="registroForm.get('fecha_nacimiento')?.hasError('required')">La fecha de nacimiento es requerida</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono" required>
    <mat-error *ngIf="registroForm.get('telefono')?.hasError('required')">El teléfono es requerido</mat-error>
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">Aceptar</button>
    <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancelar</button>
  </div>
</form>