main {
  padding: 20px;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #f9f9f9; /* Fondo claro para contraste */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 160px); /* Altura mínima para ocupar el espacio entre header y footer */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea los elementos al inicio */
  align-items: center;
}

.intro, .servicios, .disponibilidad, .habitaciones-disponibles {
  width: 100%; /* Ocupa todo el ancho disponible */
}

.intro {
  margin-bottom: 20px;
  text-align: center; /* Centra el texto */
}

.intro h2 {
  font-size: 32px; /* Letras más grandes */
  margin-bottom: 10px;
  color: #5D3A1A; /* Marrón más oscuro */
}

.intro p {
  font-size: 20px; /* Letras más grandes */
  margin-bottom: 20px;
  color: #5D3A1A; /* Marrón más oscuro */
}

.servicios {
  text-align: left;
  margin-bottom: 20px; /* Añade margen inferior para separar de las imágenes */
}

.servicios h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #5D3A1A; /* Marrón más oscuro */
}

.servicio {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.servicio h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #7e4821a9; /* Marrón */
}

.servicio p {
  font-size: 18px;
  color: #5D3A1A; /* Marrón más oscuro */
}

.disponibilidad {
  text-align: center;
  margin-bottom: 20px;
}

.disponibilidad h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #5D3A1A; /* Marrón más oscuro */
}

.disponibilidad form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disponibilidad label {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #5D3A1A; /* Marrón más oscuro */
}

.disponibilidad input, .disponibilidad select {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.disponibilidad button {
  background-color: #5D4037; /* Marrón oscuro */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.disponibilidad button:hover {
  background-color: #8D6E63; /* Marrón más claro */
}

.habitaciones-disponibles {
  text-align: center;
  margin-top: 20px;
}

.habitaciones-disponibles h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #5D3A1A; /* Marrón más oscuro */
}

.habitacion {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.habitacion p {
  font-size: 18px;
  color: #5D3A1A; /* Marrón más oscuro */
}

.accept-button {
  background-color: #5D4037; /* Marrón oscuro */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.accept-button:hover {
  background-color: #8D6E63; /* Marrón más claro */
}