<app-header-welcome *ngIf="!isLoggedIn"></app-header-welcome>
<app-header-main *ngIf="isLoggedIn"></app-header-main>

<main>
  <div class="intro">
    <h2>Servicios de Reserva</h2>
    <p>Reserva tu habitación en línea y disfruta de las mejores tarifas en nuestro hotel. Nuestro sistema de reservas en línea es fácil de usar y seguro.</p>
  </div>

  <div class="servicios">
    <h3>Nuestras Habitaciones</h3>
    <div class="servicio">
      <h4>Habitaciones para 2 personas</h4>
      <p>El hotel ofrece habitaciones para 2 personas en formato de camas simples y dobles. Una habitación de 2 personas puede ser 1 cama doble o 2 camas simples.</p>
    </div>
    <div class="servicio">
      <h4>Habitaciones para 3 personas</h4>
      <p>Las habitaciones para 3 personas pueden ser, 1 cama doble y 1 cama simple o 3 camas simples.</p>
    </div>
  </div>

  <div class="disponibilidad">
    <h3>Buscar Disponibilidad</h3>
    <form (ngSubmit)="verificarDisponibilidad()">
      <label for="fechaEntrada">Fecha de Entrada:</label>
      <input type="date" id="fechaEntrada" name="fechaEntrada" [(ngModel)]="fechaEntrada" required>
      
      <label for="fechaSalida">Fecha de Salida:</label>
      <input type="date" id="fechaSalida" name="fechaSalida" [(ngModel)]="fechaSalida" required>
      
      <label for="tipo">Cantidad de Personas:</label>
      <select id="tipo" name="tipo" [(ngModel)]="tipo" required>
        <option *ngFor="let num of [1, 2, 3]" [value]="num">{{ num }}</option>
      </select>
      
      <button type="submit" class="accept-button">Aceptar</button>
    </form>
  </div>

  <div *ngIf="habitacionesDisponibles.length > 0" class="habitaciones-disponibles">
    <h3>Habitaciones Disponibles</h3>
    <div *ngFor="let habitacion of habitacionesDisponibles" class="habitacion">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Habitación {{ habitacion.numero }}</mat-card-title>
          <mat-card-subtitle>{{ habitacion.tipo }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Capacidad: {{ habitacion.tipo }} personas</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="hacerReserva(habitacion.id_habitacion)">Reservar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>

<app-footer></app-footer>