<app-header-main></app-header-main>

<main class="modificar-datos-container">
  <h2>Modificar Datos Personales</h2>

  <div *ngIf="usuarioSeleccionado" class="edit-section">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="usuarioSeleccionado.nombre">
    <label>Apellido:</label>
    <input type="text" [(ngModel)]="usuarioSeleccionado.apellido">
    <label>DNI:</label>
    <input type="text" [(ngModel)]="usuarioSeleccionado.dni">
    <label>Email:</label>
    <input type="text" [(ngModel)]="usuarioSeleccionado.email">
    <label>Teléfono:</label>
    <input type="text" [(ngModel)]="usuarioSeleccionado.telefono">
    <label>Fecha de Nacimiento:</label>
    <input type="text" [(ngModel)]="usuarioSeleccionado.fecha_nacimiento">
    <label>Nueva Contraseña:</label>
    <input type="password" [(ngModel)]="usuarioSeleccionado.password">
    <label>Confirmar Contraseña:</label>
    <input type="password" [(ngModel)]="confirmPassword">
    <button (click)="guardarUsuario()">Guardar</button>
    <button (click)="cancelar()">Cancelar</button>
  </div>
</main>

<app-footer></app-footer>