main.modificar-datos-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9; /* Fondo claro para contraste */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 160px); /* Altura mínima para ocupar el espacio entre header y footer */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea los elementos al inicio */
    align-items: center;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 16px;
    color: #333;
  }
  
  .edit-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit-section label {
    width: 100%;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  .edit-section input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 48%;
    padding: 10px 20px;
    margin-top: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:first-of-type {
    background-color: #007bff;
    color: white;
  }
  
  button:first-of-type:hover {
    background-color: #0056b3;
  }
  
  button:last-of-type {
    background-color: #dc3545;
    color: white;
  }
  
  button:last-of-type:hover {
    background-color: #c82333;
  }
  
  .button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }